version: '3.8'
services:
  postgres:
    container_name: postgres
    image: postgres:17.6-alpine
    restart: always
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5432:5432"
    healthcheck:
      test: "pg_isready -U postgres"
      interval: 3s
      timeout: 5s
      retries: 10

  zipkin:
    container_name: zipkin
    image: openzipkin/zipkin:3.4
    ports:
      - "9411:9411"

  prometheus:
    container_name: prometheus
    image: prom/prometheus:v2.47.0
    user: root
    volumes:
      - ./docker/prometheus:/etc/prometheus
    command:
      - --config.file=/etc/prometheus/prometheus-config.yaml
      - --log.level=debug
    ports:
      - "9090:9090"
    extra_hosts:
      - "host.docker.internal:host-gateway"

  grafana:
    container_name: grafana
    image: grafana/grafana:9.5.10
    depends_on:
      - prometheus
    volumes:
      - ./docker/grafana/provisioning/datasources:/etc/grafana/provisioning/datasources
      - ./docker/grafana/provisioning/dashboards:/etc/grafana/provisioning/dashboards
      - ./docker/grafana/data/dashboards:/var/lib/grafana/dashboards
    environment:
      - GF_LOG_LEVEL=debug
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
    ports:
      - "3000:3000"

  sba-service:
    container_name: sba-service
    restart: always
    profiles: [all]
    build:
      context: ./spring-boot-admin
      dockerfile: Dockerfile
    ports:
      - "9999:8080"
    environment:
      SPRING_PROFILES_ACTIVE: "docker"

  price-service:
    container_name: price-service
    restart: always
    profiles: [all]
    build:
      context: ./price-service
      dockerfile: Dockerfile
    ports:
      - "8090:8080"
    environment:
      SPRING_PROFILES_ACTIVE: "docker"
      SPRING_BOOT_ADMIN_CLIENT_URL: "http://sba-service:8080"
      MANAGEMENT_TRACING_EXPORT_ZIPKIN_ENDPOINT: "http://zipkin:9411/api/v2/spans"

  order-service:
    container_name: order-service
    restart: always
    profiles: [all]
    build:
      context: ./order-service
      dockerfile: Dockerfile
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: "docker"
      SPRING_DATASOURCE_URL: "jdbc:postgresql://postgres:5432/postgres"
      SPRING_DATASOURCE_USERNAME: "postgres"
      SPRING_DATASOURCE_PASSWORD: "postgres"
      HTTP_PRICE_CLIENT_URL: "http://price-service:8080"
      SPRING_BOOT_ADMIN_CLIENT_URL: "http://sba-service:8080"
      MANAGEMENT_TRACING_EXPORT_ZIPKIN_ENDPOINT: "http://zipkin:9411/api/v2/spans"
