apiVersion: v1
kind: Service
metadata:
  name: order-service
  labels:
    app: order
    type: spring-boot
spec:
  type: ClusterIP
  selector:
    app: order
  ports:
    - name: http
      port: 8080
      targetPort: 8080
    - name: management
      port: 8081
      targetPort: 8081

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order
  template:
    metadata:
      labels:
        app: order
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/path: "/actuator/prometheus"
        prometheus.io/port: "8081"
    spec:
      containers:
        - name: order-app
          image: bitxon/order-app
          ports:
            - containerPort: 8080
              name: http
              protocol: TCP
            - containerPort: 8081
              name: management
              protocol: TCP
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: "k8s"
            - name: SPRING_DATASOURCE_URL
              value: "jdbc:postgresql://db-service.default.svc.cluster.local:5432/postgres"
            - name: SPRING_DATASOURCE_USERNAME
              value: "postgres"
            - name: SPRING_DATASOURCE_PASSWORD
              value: "postgres"
            - name: HTTP_PRICE_CLIENT_URL
              value: "http://price-service.default.svc.cluster.local:8080"
            - name: MANAGEMENT_TRACING_EXPORT_ZIPKIN_ENDPOINT
              value: "http://zipkin-service.monitoring.svc.cluster.local:9411/api/v2/spans"
      initContainers:
        - name: wait-for-db
          image: postgres:17.6-alpine
          command: [ 'sh', '-c', 'until pg_isready -h db-service.default.svc.cluster.local -p 5432; do echo waiting for DB; sleep 2; done;' ]